extends layout

block content
  ol.breadcrumb.bar-white
    li #[a(href='/community') Communities]
    li.active #{data.name}
  .content-box
    .headertext1 #{data.name}
    p #{data.desc}

    .container
      if user
        if ( user.communities.indexOf(data.id) != -1)
          form.form-horizontal(class='form-leavecommunity', action='/community/#{data.id}/leave', method='POST')
            .form-group
              button.btn.btn-danger.btn-sm(type='submit') Leave community
        else     
          form.form-horizontal(class='form-joincommunity', action='/community/#{data.id}/join', method='POST')
            .form-group
              button.btn.btn-success.btn-sm(type='submit') Join community

  .content-box
    .headertext2 Members
      small  (#{members.length})
    hr
    .row
      each item in members
        .col-xs-4.col-sm-2.col-md-2
          .thumbnail
            .caption
              center
                if item.user.avatar
                  img(src="/images/uploads/#{item.user.avatar}" class='img-circle' height='64px' width='64px')
                else
                  img(src="/images/anon.gif" class='img-circle' height='64px' width='64px')
                br
                a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}
                br
                small   @#{item.user.username}
        

  .content-box
    .headertext2 Projects 
      small (
        a(href='/community/#{data.id}/create-idea') create new
        | )
    hr
    if ( data.ideas.length == 0 )
      p No one has started any projects in this community yet.
    else
      each item in data.ideas
        a(href="/idea/#{item.id}") #{item.title}
        p #{item.desc}




  //h4 Engagement stats
  //p Monthly requests fulfilled, points, etc. Charts and data!
  //h4 Members
  //h4 Community bulletin board
  //p Sort by causes and tags
  //h4 Get involved
  //p Sort by causes and tags
  //h4 Trending ideas
  //h4 Awesome people