extends layout

block content

  .content-box
    h4 My Communities
    each item in data
      if (user.communities.indexOf(item.id) != -1)
        a(href='/community/#{item.id}') #{item.name}
        p #{item.desc}
    if (user.communities.length == 0) 
      p You aren't in any communities yet... Join one so you can get started!

  .content-box
    h4 Nearby Communities
    - var x = 0
    each item in data
      if (user.communities.indexOf(item.id) == -1)
        a(href='/community/#{item.id}') #{item.name}
        p #{item.desc}
        - x = x+1
    if (x == 0)
      p There are no other communities near you.