extends layout

block content
  .container-body
    .row
      .col-sm-2.hidden-xs
        include sidebar
      .col-sm-10
        .row
          .col-sm-4.col-md-4
            .content-box
              .headertext #{data.name}
              hr
              center
                if user
                  if ( user.communities.indexOf(data.id) != -1)
                    form.form-horizontal(class='form-leavecommunity', action='/community/#{data.id}/leave', method='POST')
                      .form-group
                        button.btn.btn-danger.btn-sm.btn-full(type='submit') Leave community
                  else     
                    form.form-horizontal(class='form-joincommunity', action='/community/#{data.id}/join', method='POST')
                      .form-group
                        button.btn.btn-success.btn-sm.btn-full(type='submit') Join community

            .content-box
              .headertext2 Members
                small  (#{members.length})
              hr
              if members.length == 0
                p No one is a member of this community yet.
              else
                .row
                  each item in members
                    .col-xs-4.col-sm-4.col-md-4
                      center
                        if item.user.avatar
                          a(href='/profile/#{item.user.username}')
                            img(src="/images/uploads/#{item.user.avatar}" class='img-circle' height='45px' width='45px')
                        else
                          a(href='/profile/#{item.user.username}')
                            img(src="/images/user.png" class='img-circle' height='45px' width='45px')
                        br
                        a(href='/profile/#{item.user.username}') 
                          small #{item.user.firstName}
                        br
                        br
                
          .col-sm-8.col-md-8
            .content-box
              .headertext2 Projects 
                if user
                  if (members.toString().indexOf(user.id) != -1)
                    small (
                      a(href='/community/#{data.id}/create-idea') create new
                      | )
              if ( projects.length == 0 )
                hr
                p No one has started any projects in this community yet.
              else
                each item in projects
                  hr
                  a(href="/idea/#{item.id}") #{item.title} 
                  p #{item.desc}
                  small 
                    | Organized by 
                    a(href='/profile/#{item.user.username}') 
                      small #{item.user.firstName} #{item.user.lastName}

            .content-box
              .headertext2 Activity Feed
              each item in feed.reverse()
                hr
                .row
                  .col-xs-3.col-sm-3.col-md-2
                    center
                      if item.user.avatar
                        a(href='/profile/#{item.user.username}')
                          img(src="/images/uploads/#{item.user.avatar}" class='img-circle' height='64px' width='64px')
                      else
                          a(href='/profile/#{item.user.username}')
                            img(src="/images/user.png" class='img-circle' height='64px' width='64px')
                  .col-xs-9.col-sm-9.col-md-10
                    if (item.desttype == 'Communities')
                      p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the community #[a(href='/community/#{item.community.id}') #{item.community.name}]
                    else if (item.desttype == 'Ideas')
                      p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the project #[a(href='/idea/#{item.idea.id}') #{item.idea.title}]
                    else if (item.desttype == 'Tasks')
                      p 
                        #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the task: #{item.task.title}
                    else if (item.desttype == 'Orgs')
                      p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the organization #[a(href='/orgs/#{item.org.id}') #{item.org.title}]
                    else
                      p hey




            //h4 Engagement stats
            //p Monthly requests fulfilled, points, etc. Charts and data!
            //h4 Members
            //h4 Community bulletin board
            //p Sort by causes and tags
            //h4 Get involved
            //p Sort by causes and tags
            //h4 Trending ideas
            //h4 Awesome people