extends layout

block content
  
  ol.breadcrumb.bar-white
    li #[a(href='/community/#{data.community.id}') #{data.community.name}]
    li #[a(href='/ideas/#{data.id}') #{data.title}]
    li.active Create Task

  h4 Create Task
  form.form-horizontal(class='form-createtask', action='/idea/create-task', method='POST')
    .form-group
      label.col-sm-2.control-label(for='title') Title
      .col-sm-4
        input#title.form-control(type='text', name='title', value='')
      .col-sm-4
        input#project.form-control(type='hidden', name='project', value='#{data.id}')
    .form-group
      label.col-sm-2.control-label(for='desc') Short description
      .col-sm-4
        textarea#desc.form-control(type='text', name='desc',  placeholder='')
    .form-group
      label.col-sm-2.control-label(for='needed') People needed
      .col-sm-4
        input#desc.form-control(type='number', name='needed',  value='1')
    .form-group
     .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Save

  #message
    if message
      h1.text-center.error-message #{message}