extends layout

block content

  .content-box
    h4 Newsfeed
    each item in feed.reverse()
      hr
      p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the 
        if (item.desttype == 'Communities')
          | community #[a(href='/community/#{item.dest.id}') #{item.dest.name}]
        if (item.desttype == 'Ideas')
          | project #[a(href='/idea/#{item.dest.id}') #{item.dest.title}]
        if (item.desttype == 'Tasks')
          | task #{item.dest.title}
        if (item.desttype == 'Orgs')
          | organization #[a(href='/orgs/#{item.dest.id}') #{item.dest.title}]