extends layout

block content
  .container-body
    .row
      .col-sm-2.hidden-xs
        include sidebar
      .col-sm-7
        .content-box
          .headertext Activity Feed
          each item in feed.reverse()
            hr
            .row
              .col-xs-3.col-sm-2
                center
                  if item.user.avatar
                    a(href='/profile/#{item.user.username}')
                      img(src="images/uploads/#{item.user.avatar}" class='img-circle' height='64px' width='64px')
                  else
                    a(href='/profile/#{item.user.username}')
                      img(src="images/user.png" class='img-circle' height='64px' width='64px')

              .col-xs-9.col-sm-10
                if (item.desttype == 'Communities')
                  p 
                    #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] 
                    small #{item.details} the community: 
                    br
                    center
                      .col-xs-12.col-sm-10.col-md-10
                        .thumbnail
                          .caption
                            center
                              a(href='/community/#{item.community.id}')
                                .headertext2 #{item.community.name}

                else if (item.desttype == 'Ideas')
                  p 
                    #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] 
                    small #{item.details} the project:
                    br
                    center
                      .col-xs-12.col-sm-10.col-md-10
                        .thumbnail
                          .caption
                            center
                              a(href='/idea/#{item.idea.id}')
                                .headertext2 #{item.idea.title}

                else if (item.desttype == 'Tasks')
                  p 
                    #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] 
                    small #{item.details} the task: 
                    br
                    center
                      .col-xs-12.col-sm-10.col-md-10
                        .thumbnail
                          .caption
                            center
                              h4 #{item.task.title}

                else if (item.desttype == 'Orgs')
                  p 
                    #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] 
                    small #{item.details} the organization:
                    br
                    center
                      .col-xs-12.col-sm-10.col-md-10
                        .thumbnail
                          .caption
                            center
                              a(href='/orgs/#{item.org.id}')
                                .headertext2 #{item.org.title}

                else
                  p hey
      .col-sm-3
        .content-box
          .headertext Sugestions
          hr
          h4 Follow suggestions
          h4 Community suggestions
          h4 etc based on what you already have