extends layout

block content
  
  ol.breadcrumb.bar-white
    li #[a(href='/community/#{EventCommunity.id}') #{EventCommunity.name}]
    li Events
    li.active #{data.title}

  .content-box
    .container
      .row
        .col-md-8
          h3 #{data.title}
          p #{data.desc}
          p #[a(href='#') #{data.going.length}] going
          if ( typeof user !== 'undefined')
            if ( data.going.indexOf(user.id) != -1)
              form.form-horizontal(class='form-removeevent', action='/events/#{data.id}/remove', method='POST')
                .form-group
                  button.btn.btn-danger.btn-sm(type='submit') Remove me
            else
              form.form-horizontal(class='form-attentevent', action='/events/#{data.id}/attend', method='POST')
                .form-group
                  button.btn.btn-success.btn-sm(type='submit') Attend Event
        .col-md-4
          p
            b
              | When: 
            | #{data.when}
            br
            b
              | Where: 
            | #{data.where}
          
    
  //ol.breadcrumb
  //  li.active Causes:

  .content-box
    .container
      h4 Organizer Updates

      p #{data.updates.length} updates
      each post in data.updates
        .row
          .col-xs-4
            p #{post.person}
          .col-xs-8
            p #{post.comment}


      if ( typeof user !== 'undefined')
        if ( data.going.indexOf(user.id) != -1)
          form.form-horizontal(class='form-orgpostevent', action='/events/#{data.id}/post-update', method='POST')
            .form-group
              .col-sm-4
                textarea#comment.form-control(type='text', name='comment',  placeholder='Update here')
            .form-group
              .col-sm-4
                button.btn.btn-default(type='submit') Post



      h4 Comments


      each post in data.comments
        .row
          .col-xs-4
            p #{post.person}
          .col-xs-8
            .p2 #{post.stamp}
            p #{post.comment}

      if ( typeof user !== 'undefined')
        if ( data.going.indexOf(user.id) != -1)
          form.form-horizontal(class='form-commentevent', action='/events/#{data.id}/post-comment', method='POST')
            .form-group
              .col-sm-4
                textarea#comment.form-control(type='text', name='comment',  placeholder='Comment here')
            .form-group
              .col-sm-4
                button.btn.btn-default(type='submit') Post