extends layout

block content
  
  ol.breadcrumb.bar-white
    li #[a(href='/community/#{data.community.id}') #{data.community.name}]
    li Projects
    li.active #{data.title}
  

  .content-box
      h3 #{data.title}
      p #{data.desc}
  if user
    if (data.user == user.id)
      .content-box
        h4 Manage Project
        p
          a(href='/idea/#{data.id}/create-task') Create Task

  .content-box
    h4 Tasks
    if (tasks.length == 0)
      p There are no tasks for this project yet.
    each item in tasks
      .row
        .col-xs-1.col-md-1
          h4
            center
              b #
        .col-xs-8.col-md-7
          b #{item.title}
          p #{item.desc}
          p Users assigned: #{item.assigned.length}/#{item.needed} &middot; Points offered: #{item.points} 
        .col-xs-2.col-md-1
          if user
            if (item.status != 1)
              if (data.community.members.indexOf(user.id) != -1)
                if (item.assigned.length == item.needed && item.assigned.indexOf(user.id) == -1)
                  form.form-horizontal()
                    .form-group
                      button.btn.disabled.btn-sm(type='button') Assignment full
                else
                  if (item.assigned.indexOf(user.id) != -1)
                    form.form-horizontal(class='form-supportidea', action='/tasks/#{item.id}/unassign', method='POST')
                      .form-group
                        button.btn.btn-danger.btn-sm(type='submit') Unassign me
                  if (item.assigned.indexOf(user.id) == -1)
                    form.form-horizontal(class='form-supportidea', action='/tasks/#{item.id}/assign', method='POST')
                      .form-group
                        button.btn.btn-success.btn-sm(type='submit') Assign me
      hr


// feedback and discussion/comments
// updates from admins