extends layout

block content
  
  ol.breadcrumb.bar-white
    li #[a(href='/community/#{data.community.id}') #{data.community.name}]
    li Projects
    li.active #{data.title}
  

  .content-box
      h3 #{data.title}
      p #{data.desc}
      p Organizer: #[a(href='/profile/#{data.user.username}') #{data.user.firstName} #{data.user.lastName}]
  if user
    if (data.user.id == user.id)
      .content-box
        h4 Manage Project
        p
          a(href='/idea/#{data.id}/create-task') Create Task

  .content-box
    h4 Tasks
    if (tasks.length == 0)
      p There are no tasks for this project yet.
    each item in tasks
      hr
      .row
        .col-xs-1.col-sm-1.col-md-1
          h4
            center
              b #
        .col-xs-7.col-sm-8.col-md-9
          b #{item.title}
          p #{item.desc}
          if (item.status.length != item.needed)
            p Users assigned: #{item.assigned.length+item.status.length}/#{item.needed} &middot; Points offered: #{item.points}

          if item.assigned.length > 0
            p Assigned: 
              each person in item.assigned
                #[a(href='/profile/#{person.username}') #{person.firstName} #{person.lastName}], 


        .col-xs-4.col-sm-3.col-md-2
          // if logged in
          if user
            // if the task is marked complete
            if (item.status.length == item.needed)
              center
                b.text-success Completed!
            else
              // If i'm a member of this community
              if (data.community.members.toString().indexOf(user.id) != -1)
                // if I've already completed this task
                if (item.status.toString().indexOf(user.id) != -1)
                  center
                    form.form-horizontal()
                      .form-group
                        button.btn.disabled.btn-sm(type='button') Awarded
                else
                  // if this task is full and i'm NOT assigned.
                  if (item.assigned.length == item.needed && item.assigned.toString().indexOf(user.id) == -1)
                    center
                      form.form-horizontal()
                        .form-group
                          button.btn.disabled.btn-sm(type='button') Assignment full
                  else
                    if (item.assigned.toString().indexOf(user.id) != -1)
                      center
                        form.form-horizontal(class='form-supportidea', action='/tasks/#{item.id}/unassign', method='POST')
                          .form-group
                            button.btn.btn-danger.btn-sm(type='submit') Unassign me
                    else
                      center
                        form.form-horizontal(class='form-supportidea', action='/tasks/#{item.id}/assign', method='POST')
                          .form-group
                            button.btn.btn-success.btn-sm(type='submit') Assign me


// feedback and discussion/comments
// updates from admins