extends layout

block content
  br
  ol.breadcrumb.bar-white
    li #[a(href='/community/#{IdeaCommunity.id}') #{IdeaCommunity.name}]
    li Projects
    li.active #{data.title}
  

  .content-box
      h3 #{data.title}
      p #{data.desc}


      
  // h4 Goals and Progress
  // hr
  // if (updateGoals)
  //   p AYYY LOL
  // else
  //   if ( data.goals.length == 0)
  //     p There are no goals for this idea yet.
  // if ( typeof user !== 'undefined' && data.user == user.id)
  //      if (updateGoals)
  //        .form.form-inline
  //          form(class='form-addgoal', action='/signup', method='POST')
  //          div.form-group
  //            input(type='text', name='lastName', class='form-control', placeholder='New Goal',required)
  //          button(class='btn btn-sm btn-success', type='submit') Update
  //     else
  //        a(href='/idea/#{data.id}/edit-goals') Update goals
  //hr


  .content-box
    h4 Tasks
      
    //  if ( data.updates.length == 0)
    //    p There are no tasks for this project yet.

    .row
      .col-xs-1.col-md-1
        h4
          center
            b #1
      .col-xs-8.col-md-7
        b Pick up trash
        p We need to start by picking up the existing trash in Centennial Common.
      .col-xs-2.col-md-1
        form.form-horizontal(class='form-supportidea', action='/idea/#{data.id}/support', method='POST')
                  .form-group
                    button.btn.btn-success.btn-sm(type='submit') Assign me

    .row
      .col-xs-1.col-md-1
        h4
          center
            b #2
      .col-xs-8.col-md-7
        b Purchase Trash bags
        p We need trash bags in order to get rid of the existing litter.
      .col-xs-2.col-md-1
        form.form-horizontal(class='form-supportidea', action='/idea/#{data.id}/support', method='POST')
                  .form-group
                    button.btn.btn-success.btn-sm(type='submit') Assign me

    .row
      .col-xs-1.col-md-1
        h4
          center
            b #3
      .col-xs-8.col-md-7
        b Put up signs
        br
        p We have signs to put up to discourage people from littering in the future. We need them put in several locations.
      .col-xs-2.col-md-1
        form.form-horizontal(class='form-supportidea', action='/idea/#{data.id}/support', method='POST')
                  .form-group
                    button.btn.btn-success.btn-sm(type='submit') Assign me

// feedback and discussion/comments
// updates from admins