extends layout

block content
  br
  ol.breadcrumb
    li #[a(href='/community/#{data.community.id}') #{data.community.name}]
    li Organizations
    li.active #{data.title}

  .content-box  
    
    .row
      .col-md-8
        h3 #{data.title}
        p #{data.community.name}
        p #{data.desc}
    .row
      .col-xs-2.col-md-1
        center
          h4
            | #[a(href='#') #{data.members.length}]
          small members
      .col-xs-2.col-md-1
        center
          h4
            | #[a(href='#') #{data.supporters.length}]
          small supporters
      .col-xs-2.col-md-1
        center
          h4
            | #[a(href='#') #{data.requests.length}]
          small requests
      .col-xs-2.col-md-1
        center
          h4
            | #[a(href='#') #{data.awards.length}]
          small awards
      .col-xs-4.col-md-3
        br
        if ( typeof user !== 'undefined')
          if ( data.supporters.indexOf(user._id) != -1)
            form.form-horizontal(class='form-removeorg', action='/orgs/#{data.id}/remove', method='POST')
              .form-group
                button.btn.btn-danger.btn-sm(type='submit') Remove me
          else
            form.form-horizontal(class='form-supportorg', action='/orgs/#{data.id}/support', method='POST')
              .form-group
                button.btn.btn-success.btn-sm(type='submit') Support

  .content-box
    h4 Members
    .row
      each item in data.members
        .col-sm-4.col-md-4
          .thumbnail
            .caption
              a(href='/profile/#{item.username}') #{item.firstName} #{item.lastName}


  .content-box
    h4 Requests


// h4 News