extends layout

block content
  .container-body
    .row
      .col-sm-2.hidden-xs
        include sidebar
      .col-sm-10
        .row
          .col-sm-4.col-md-4
            .content-box
              .headertext #{data.title}
              hr
              p #{data.desc}

              small Community: 
                a(href='/community/#{data.community.id}')
                  small #{data.community.name}
              br
              small Admin: 
                a(href='/profile/#{data.members[0].username}')
                  small #{data.members[0].firstName} #{data.members[0].lastName}

              center
                if ( typeof user !== 'undefined')
                  hr
                  if ( data.supporters.indexOf(user._id) != -1)
                    form.form-horizontal(class='form-removeorg', action='/orgs/#{data.id}/remove', method='POST')
                      .form-group
                        button.btn.btn-danger.btn-full(type='submit') Stop supporting
                  else
                    form.form-horizontal(class='form-supportorg', action='/orgs/#{data.id}/support', method='POST')
                      .form-group
                        button.btn.btn-success.btn-full(type='submit') Support organization
                  form.form-horizontal(class='form-joinorg', action='/orgs/#{data.id}/join', method='POST')
                        .form-group
                          button.btn.btn-primary.btn-full(type='submit') Join organization

            .content-box
              .headertext2 Members
                small  (#{data.members.length})
              hr
              if data.members.length == 0
                p No one is a member of this organization yet.
              else
                .row
                  each item in data.members
                    .col-xs-4.col-sm-4.col-md-4
                      center
                        if item.avatar
                          a(href='/profile/#{item.username}')
                            img(src="/images/uploads/#{item.avatar}" class='img-circle' height='45px' width='45px')
                        else
                          a(href='/profile/#{item.username}')
                            img(src="/images/user.png" class='img-circle' height='45px' width='45px')
                        br
                        a(href='/profile/#{item.username}') 
                          small #{item.firstName}
                        br
                        br

            .content-box
              .headertext2 Supporters
                small  (#{data.supporters.length})
              hr
              if data.supporters.length == 0
                p No one is supporting this organization yet.
              else
                .row
                  each item in data.supporters
                    .col-xs-4.col-sm-4.col-md-4
                      center
                        if item.avatar
                          a(href='/profile/#{item.username}')
                            img(src="/images/uploads/#{item.avatar}" class='img-circle' height='45px' width='45px')
                        else
                          a(href='/profile/#{item.username}')
                            img(src="/images/user.png" class='img-circle' height='45px' width='45px')
                        br
                        a(href='/profile/#{item.username}') 
                          small #{item.firstName}
                        br
                        br

          .col-sm-8.col-md-8
            .content-box
              .headertext2 Requests


  // h4 News