extends layout

block content
  .content-box
    .row
      .col-sm-3.col-md-3
        center
          if data.avatar
            img(src="/images/uploads/#{data.avatar}" class='img-circle' height='150px' width='150px')
          else
            img(src="/images/anon.gif" class='img-circle' height='150px' width='150px')
      .col-sm-9.col-md-9
        h2 #{data.firstName} #{data.lastName}
          small    @#{data.username}
        p #{data.bio}
        if data.state
          p #{data.city}, #{data.state} 
              if data.occ
                &middot; #{data.occ} at #{data.occplace}
      
        .row
          .col-xs-2.col-md-1
            center
              h4.text-primary #{data.points}
              small points
          .col-xs-2.col-md-1
            center
              h4.text-primary #{followers.length}
              small followers
          .col-xs-2.col-md-1
            center
              h4.text-primary #{following.length}
              small following
          .col-xs-2.col-md-1
            center
              h4.text-primary #{data.communities.length}
              small communities
          .col-xs-4.col-md-3
            br
            center
              if ( typeof user !== 'undefined' )
                if (data.id == user.id) 
                  // This user
                else if ( followers.toString().indexOf(user.id) == -1)
                  form.form-horizontal(class='form-follow', action='/profile/#{data.username}/follow/#{data.id}', method='POST')
                    .form-group
                      button.btn.btn-success.btn-sm(type='submit') Follow
                else
                  form.form-horizontal(class='form-unfollow', action='/profile/#{data.username}/unfollow/#{data.id}', method='POST')
                    .form-group
                      button.btn.btn-danger.btn-sm(type='submit') Unfollow


  .content-box
    h4 Activity feed
    each item in feed.reverse()
      hr
      .row
        .col-xs-3.col-sm-2.col-md-1
          if data.avatar
            img(src="/images/uploads/#{data.avatar}" class='img-circle' height='64px' width='64px')
          else
            img(src="/images/anon.gif" class='img-circle' height='64px' width='64px')
        .col-xs-9.col-sm-10.col-md-11
          if (item.desttype == 'Communities')
            p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the community #[a(href='/community/#{item.community.id}') #{item.community.name}]
          else if (item.desttype == 'Ideas')
            p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the project #[a(href='/idea/#{item.idea.id}') #{item.idea.title}]
          else if (item.desttype == 'Tasks')
            p 
              #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the task: #{item.task.title}
          else if (item.desttype == 'Orgs')
            p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the organization #[a(href='/orgs/#{item.org.id}') #{item.org.title}]
          else
            p hey

    //ol.breadcrumb
    //  li.active Causes: #{data.causes}
    //h4 Hours Volunteered
    //  small  (verified, total)
    //h4 Events Organized
    //  small  (also attended)
    //h4 Progress of Ideas
    //h4 Requests feed
    //h4 Articles
    //h4 Most active orgs