extends layout

block content
  .container-body
    .row
      .col-sm-2.hidden-xs
        include sidebar
      .col-sm-10
        .row
          .col-sm-4.col-md-4
            .content-box
              .headertext #{data.firstName} #{data.lastName}
                small    @#{data.username}

              hr

              center
                if data.avatar
                  img(src="/images/uploads/#{data.avatar}" class='img-circle' height='150px' width='150px')
                else
                  if (data.gender == 'm')
                    img(src="/images/anon.gif" class='img-circle' height='150px' width='150px')
                  else
                    img(src="/images/femaleanon.png" class='img-circle' height='150px' width='150px')
                br
                br


                if ( typeof user !== 'undefined' )
                  if (data.id == user.id) 
                    // This user
                  else if ( followers.toString().indexOf(user.id) == -1)
                    form.form-horizontal(class='form-follow', action='/profile/#{data.username}/follow/#{data.id}', method='POST')
                      .form-group
                        button.btn.btn-success.btn-sm.btn-full(type='submit') Follow
                    hr
                  else
                    form.form-horizontal(class='form-unfollow', action='/profile/#{data.username}/unfollow/#{data.id}', method='POST')
                      .form-group
                        button.btn.btn-danger.btn-sm.btn-full(type='submit') Unfollow
                    hr
                if data.bio
                  p #{data.bio}
                  hr
              
              if ( data.homepage || data.facebook || data.linkedin || data.twitter || data.instagram )
                center
                  .social
                    ul
                      if data.homepage
                        li
                          a(href='#{data.homepage}' target='_blank')
                            i.fa.fa-lg.fa-globe
                      if data.facebook
                      li
                        a(href='https://facebook.com/#{data.facebook}' target='_blank')
                          i.fa.fa-lg.fa-facebook
                      if data.linkedin
                        li
                          a(href='#{data.linkedin}' target='_blank')
                            i.fa.fa-lg.fa-linkedin
                      if data.twitter
                        li
                          a(href='https://twitter.com/#{data.twitter}' target='_blank')
                            i.fa.fa-lg.fa-twitter
                      if data.instagram
                        li
                          a(href='https://instagram.com/#{data.instagram}' target='_blank')
                            i.fa.fa-lg.fa-instagram
              if data.state
                small #{data.city}, #{data.state} 
                br
              if data.occ
                small #{data.occ} at #{data.occplace}

              hr
              .row
                .col-xs-4.col-sm-4.col-md-4
                  center
                    h4.text-primary #{data.points}
                    small points
                .col-xs-4.col-sm-4.col-md-4
                  center
                    h4.text-primary #{followers.length}
                    small followers
                .col-xs-4.col-sm-4.col-md-4
                  center
                    h4.text-primary #{following.length}
                    small following

            .content-box
              .headertext2 Communities (#{communities.length})
              hr
              if ( communities.length == 0 )
                p #{data.firstName} hasn't joined any communities yet.
              else
                .row
                  each item in communities
                    .col-xs-12.col-sm-12.col-md-12
                        .thumbnail
                          .caption
                            center
                              a(href='/community/#{item.community.id}')
                                .headertext2 #{item.community.name}
                
          .col-sm-8.col-md-8

            .content-box
              .headertext2 Activity feed
              if ( feed.length == 0 )
                hr
                p #{data.firstName} hasn't done anything yet.
              else
                each item in feed.reverse()
                  hr
                  .row
                    .col-xs-3.col-sm-3.col-md-2
                      center
                        if data.avatar
                          img(src="/images/uploads/#{data.avatar}" class='img-circle' height='64px' width='64px')
                        else
                          if (data.gender == 'm')
                            img(src="/images/anon.gif" class='img-circle' height='64px' width='64px')
                          else
                            img(src="/images/femaleanon.png" class='img-circle' height='64px' width='64px')
                    .col-xs-9.col-sm-9.col-md-10
                      if (item.desttype == 'Communities')
                        p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the community #[a(href='/community/#{item.community.id}') #{item.community.name}]
                      else if (item.desttype == 'Ideas')
                        p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the project #[a(href='/idea/#{item.idea.id}') #{item.idea.title}]
                      else if (item.desttype == 'Tasks')
                        p 
                          #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the task: #{item.task.title}
                      else if (item.desttype == 'Orgs')
                        p #[a(href='/profile/#{item.user.username}') #{item.user.firstName} #{item.user.lastName}] #{item.details} the organization #[a(href='/orgs/#{item.org.id}') #{item.org.title}]
                      else
                        p hey

              //ol.breadcrumb
              //  li.active Causes: #{data.causes}
              //h4 Hours Volunteered
              //  small  (verified, total)
              //h4 Events Organized
              //  small  (also attended)
              //h4 Progress of Ideas
              //h4 Requests feed
              //h4 Articles
              //h4 Most active orgs